
<div>
  <div class="formulario">
    <hr />
    <table
      #table
      mat-table
      [dataSource]="datosAltaCalificaciones.calificacionesRegistrar"
      class="mat-elevation-z8 tabla-alumnos"
    >
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let alumno" align="start">
          {{ alumno.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="noCuenta">
        <th mat-header-cell *matHeaderCellDef>No. Cuenta</th>
        <td mat-cell *matCellDef="let alumno" align="start">
          {{ alumno.noCuenta }}
        </td>
      </ng-container>

      <ng-container matColumnDef="calificacion">
        <th mat-header-cell *matHeaderCellDef>Calificación</th>
        <td mat-cell *matCellDef="let alumno; let index = index" align="start">
          <mat-form-field appearance="outline">
            <input
              matInput
              type="number"
              placeholder="0"
              (input)="asignarCalificacion($event.target, index)"
              max="10"
              min="0"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasAMostrar; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8" style="color: red">
          Por el momento no hay alumnos asignados a esta materia.
        </td>
      </tr>
    </table>

    <div class="buttons-calificacion">
      <button
        mat-flat-button
        [disabled]="datosAltaCalificaciones.calificacionesRegistrar.length <= 0"
        (click)="guardar()"

      >
        Guardar Calificaciones
      </button>

      <a mat-stroked-button routerLink="/materias-asignadas">Cancelar</a>
    </div>
    <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
  </div>
</div>
