<app-spinner [isLoading]="isLoading"></app-spinner>
<h1>Materias de Docentes</h1>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Docente</mat-label>
    <mat-select
      formControlName="idDocente"
      placeholder="Seleccionar Docente..."
    >
      <mat-option *ngFor="let docente of docentes" [value]="docente.id">
        {{
          docente.nombre +
            " " +
            docente.apellidoPaterno +
            " " +
            docente.apellidoMaterno
        }}
      </mat-option>
    </mat-select>
    <mat-error>El campo Docente es requerido.</mat-error>
  </mat-form-field>
  <div style="margin: 0 3rem">
    <div style="display: flex; justify-content: space-between; width: 100%">
      <div class="materias">
        <h3>Asignadas</h3>
        <table
          #table
          mat-table
          [dataSource]="materiasDisponibles"
          class="mat-elevation-z1 tabla-materias"
        >
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let materia">
              {{ materia.nombre }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombreGrupo">
            <th mat-header-cell *matHeaderCellDef>Grupo</th>
            <td mat-cell *matCellDef="let materia">
              {{ materia.nombreGrupo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let materia">
              <mat-icon style="color: green" *ngIf="materia.estado"
                >check_circle</mat-icon
              >
              <mat-icon style="color: red" *ngIf="!materia.estado"
                >cancel</mat-icon
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef>Opciones</th>
            <td mat-cell *matCellDef="let materia">
              <button
                type="button"
                routerLink="/materias/editar/{{ materia.id }}"
                mat-flat-button
                class="button-primary"
              >
                <mat-icon>edit</mat-icon>
                Editar
              </button>

              <button
                type="button"
                *ngIf="materia.estado"
                mat-flat-button
                style="background: #a81a20; color: white"
              >
                <mat-icon>block</mat-icon>
                Desactivar
              </button>

              <button
                type="button"
                *ngIf="!materia.estado"
                mat-flat-button
                style="background: green; color: white"
              >
                <mat-icon>check</mat-icon>
                Activar
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="columnasAMostrar; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8" style="color: red">
              No se encontraron resultados.
            </td>
          </tr>
        </table>
        <mat-paginator
          class="mat-elevation-z1"
          [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons
          [length]="cantidadTotalRegistros"
          [pageSize]="cantidadRegistrosAMostrar"
          (page)="actualizarPaginacion($event)"
        >
        </mat-paginator>
      </div>
      <div class="materias">
        <h3>Disponibles</h3>
        <table
          #table
          mat-table
          [dataSource]="materiasDisponibles"
          class="mat-elevation-z1 tabla-materias"
        >
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let materia">
              {{ materia.nombre }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombreGrupo">
            <th mat-header-cell *matHeaderCellDef>Grupo</th>
            <td mat-cell *matCellDef="let materia">
              {{ materia.nombreGrupo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let materia">
              <mat-icon style="color: green" *ngIf="materia.estado"
                >check_circle</mat-icon
              >
              <mat-icon style="color: red" *ngIf="!materia.estado"
                >cancel</mat-icon
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef>Opciones</th>
            <td mat-cell *matCellDef="let materia">
              <button
                type="button"
                routerLink="/materias/editar/{{ materia.id }}"
                mat-flat-button
                class="button-primary"
              >
                <mat-icon>edit</mat-icon>
                Editar
              </button>

              <button
                type="button"
                *ngIf="materia.estado"
                mat-flat-button
                style="background: #a81a20; color: white"
              >
                <mat-icon>block</mat-icon>
                Desactivar
              </button>

              <button
                type="button"
                *ngIf="!materia.estado"
                mat-flat-button
                style="background: green; color: white"
              >
                <mat-icon>check</mat-icon>
                Activar
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="columnasAMostrar; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8" style="color: red">
              No se encontraron resultados.
            </td>
          </tr>
        </table>
        <mat-paginator
          class="mat-elevation-z1"
          [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons
          [length]="cantidadTotalRegistros"
          [pageSize]="cantidadRegistrosAMostrar"
          (page)="actualizarPaginacion($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</form>
