<p>calificaciones works!</p>
<div style="background: white; margin: 2rem">
  <div style="margin-top: 3rem">
    <br />
    <h1 style="text-align: center">
      INSTITUTO DE ESTUDIOS SUPERIORES ISIDRO FABELA ALFARO, S. C.
    </h1>
  </div>

  <div style="display: flex; justify-content: center;">
    <div style="margin: 3rem" class="table-datos">
      <table>
        <tr>
          <th align="start">Nombre del Alumno</th>
          <td colspan="1">David Fonseca</td>
        </tr>
        <tr>
          <th align="start">Grado</th>
          <td colspan="1">2° Grado</td>
        </tr>
        <tr>
          <th align="start">CURP</th>
          <td colspan="1">FOCD980619HMCNRV06</td>
        </tr>
        <tr>
          <th align="start">Teléfono del Alumno</th>
          <td colspan="1">5591411293</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="table-calificaciones">
    <table>
      <tr>
        <th>ASIGNATURA</th>
        <th>1° Evaluación</th>
        <th>2° Evaluación</th>
        <th>Promedio</th>
        <th>3° Evaluación</th>
        <th>4° Evaluación</th>
        <th>Promedio</th>
        <th>Promedio Final</th>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>Matemáticas</td>
        <td>8.1</td>
        <td>8.9</td>
        <td>9.0</td>
        <td>9.2</td>
        <td>8.9</td>
        <td>10</td>
        <td>7.6</td>
      </tr>
    </table>
  </div>
</div>
