/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-primary {
  background: #071a4e;
  color: white;
}

/* color de exitoso del stack bar */
.red-stackbar {
  background: #840000;
}

.green-stackbar {
  background: #57986c;
}

h1 {
  font-weight: 500;
  font-size: x-large;
}

h2{
  font-weight: 400;
  font-size: large;
}

body {
  background-color: #eceff4;
}
